nav{
	background-color: white !important;
	border: none !important;
	font-family: 'Karla', sans-serif;
	margin-bottom: 13vh !important;
}
a{
	color: white !important;
}
a:hover{
	color: black !important;
	text-decoration: none;
} 
button{
	outline: none;
}
.topLogo{
	margin-top: -3vh;
	height: 20vh;
	margin-left: 0vw;
}
.topBox{
	background-color:#4f4f4f;
	height:3vh;
	width:98.7vw;
}
.content-nav{
	background-color: #bb3d3d !important;
	color: white;
	margin-right: -2.9vw;
	width:50vw;
	padding-left: 0vw;
	height: 6vh;

	
}

.content-nav > li{
	padding-right: 2.5vw !important;
	font-size: 16px;
	margin-top: -0.5vh;
}

.nav-hr{
	height: 5vh; 
	width: 0.09vw;
	background-color: white; 
	margin-top: 1vh;
}
.homeIconImg{
	height: 3vh;
	margin-top: -0.5vh;
	margin-left: 2.5vw;
}
.linkActive > a{
	color: black !important;
	margin-top: 1.5vh;
	padding-top: 1vh !important;
	padding-bottom: 0.02vh !important;
	background-color: white !important;
	padding-left: 3vw !important;
	padding-right: 3vw !important;
}





.contactDiv{
	margin-top: 15vh;
	background-color: #333232;
	width: 25vw;
	color: white;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	padding-left:  6vw;
	padding-right: 6vw;
}
.centerImg{
	background-color: #333232;
	height: 64vh;
	width: 98vw;

}
.conImg{
	width: 98vw;
	height: 64vh;


}
.backrowDiv{
	margin-top: 8vh;
	background-color: #bb3d3d ;
	height: 10vw;
	width: 98vw;
	position: relative;
	z-index: auto;

}
/*.imgHolder{
	margin-top: 12vh;
	position: relative;
	z-index: auto
	height:10vw;
	width: 95.5vw;


}*/
.contactImg{
	width: 98vw;
	height: 30vw;


}
.rowDiv{
	margin-top: -45vh;
	font-family: 'Karla', sans-serif;

}
.rowimg1{
	height: 20vh;
}
.rowimg2{
	float: right;
	height: 20vh;
	margin-right: 4vw;
}
.textOn1{
	margin-top: 8vh;
	background-color:#333232;
	opacity: 0.9; 
	color: white;
	font-size: 24px;
	text-align: center;
	height: 8vh;
	border-radius: 15px;
	width: 18vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: -2vw;
}
.textOn2{
	margin-top: 8vh;
	background-color:#333232;
	opacity: 0.79; 
	color: white;
	font-size: 24px;
	text-align: center;
	height: 8vh;
	border-radius: 15px;
	width: 18vw;
	float: right;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-right: 2vw;
}
.Footer{
	margin-top: 34vh;
	background-color:  #333232;
	color: white;
}
.smallFooter{
	background-color:#bb3d3d ;
	height: 3vh;
}
.listOfFooter{
	margin-top: 3vh;
	list-style: none;
	margin-bottom: 2vh;
	font-size: 13px;
}
.footerIcon{
	height: 5vh;
	padding-right: 1vw;
}
.IconDiv{
	padding-left: 8vw;
	padding-top: 1.5vh;
}
.copyRight{
	background-color: #424141;
	text-align: center;
	font-size: 11px;
}

