nav{
	background-color: white !important;
	border: none !important;
	font-family: 'Karla', sans-serif;
}
a{
	color: white !important;
}
a:hover{
	color: black !important;
	text-decoration: none;
} 
button{
	outline: none;
}
.navbar-collapse{
	border: none !important;
}
.topBox{
	background-color:#4f4f4f;
	height:3vh;
	width:100vw;
}
.topLogo{
	margin-top: -3vh;
	height: 15vh;
	margin-left: 17vw;

}

.content-nav{
	border: none;
	margin-top: 8vh;
	background-color: #bb3d3d !important;
	color: white;
	padding-left: 1vw;
	height: 8vh;
	
}
.recImg{
	display: none;
}
.content-nav > li{
	font-size: 4vw;
	padding-top: 1vh;
}

.nav-hr{
	height: 3.8vh; 
	width: 0.4vw;
	background-color: white; 
	margin-top: 1.5vh;
}
.homeIconImg{
	height: 3.8vh;
	margin-top: -0.7vh;
}
.linkActive > a{
	color: black !important;
	margin-top: 1vh;
	padding-top: 1vh !important;
	padding-bottom: 1vh !important;
	background-color: white !important;
}







.centerImg{
	margin-top: 8vh;
	background-color: #bb3d3d ;
	height: 29vh;
	width: 100vw;

}
.homeImg{
	height: 28vh;
	width: 100vw;
}
.backrowDiv{
	display: hidden;
}
.rowDiv{
	margin-top: 3vh;
	font-family: 'Karla', sans-serif;
}

.EachRow{
	margin-bottom: 3vh;
}
.darkHead{
	background-color: #333232;
	color: white;
	font-size: 13px;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: 6vh;
	margin-right: 6vh;
	width: 64vw;

}
.lightBody{
	background-color: #A9A9A9;
	color: white;
	height: 15vh;
	font-size: 12px;
	padding-top: 1vh;
	margin-left: 6vh;
	margin-right: 6vh;
	padding-left: 1vw;
	padding-right: 1vw;
	width: 64vw;
}
.lightText{
	width: 64vw;
}
.Footer{
	margin-top: 1vh;
	background-color:  #333232;
	color: white;
}
.smallFooter{
	background-color:#bb3d3d ;
	height: 2vh;
}
.listOfFooter{
	margin-top: 2vh;
	list-style: none;
	margin-bottom: 3vh;
	font-size: 10px;
}
.bigContact{
	font-size: 15px;
	font-weight: bolder;
}
.linkFooter{
	margin-right: -20vw;
	margin-left: -8vw;
}
.footerIcon{
	height: 5vh;
	padding-right: 2vw;
}
.footerLogo{
	height: 10vh;
	margin-top: -6vh;
	float: right;
}
.copyRight{
	background-color: #424141;
	text-align: center;
	font-size: 8px;
}

