nav{
	background-color: white !important;
	border: none !important;
	font-family: 'Karla', sans-serif;
	margin-bottom: 10vh !important;
}
a{
	color: white !important;
}
a:hover{
	color: black !important;
	text-decoration: none;
} 
button{
	outline: none;
}
.topLogo{
	margin-top: -3vh;
	height: 20vh;
	margin-left: 0vw;
}
.topBox{
	background-color:#4f4f4f;
	height:3vh;
	width:98.7vw;
}
.content-nav{
	background-color: #bb3d3d !important;
	color: white;
	width: 65vw;
	margin-right: 10vw;
	padding-left: 2vw;
	height: 6vh;

	
}
.recImg{
	margin-top:-7.2vh;
	height: 10vh;
	float: right;
	margin-right: -1vw;
}
.content-nav > li{
	padding-right: 1.8vw !important;
	font-size: 16px;
	margin-top: -0.5vh;
}

.nav-hr{
	height: 5vh; 
	width: 0.09vw;
	background-color: white; 
	margin-top: 1vh;
}
.homeIconImg{
	height: 3vh;
	margin-top: -0.5vh;
}
.linkActive > a{
	color: black !important;
	margin-top: 1.5vh;
	padding-top: 1vh !important;
	padding-bottom: 0.02vh !important;
	background-color: white !important;
	padding-left: 3vw !important;
	padding-right: 3vw !important;
}





.centerImg{
	background-color: #bb3d3d ;
	height: 76vh;
	width: 98.7vw;

}
.homeImg{
	width: 98.7vw;
	height: 74vh
}
.backrowDiv{
	margin-top: 18vh;
	background-color: #bb3d3d ;
	height: 10vw;
	width: 98.7vw;
	position: relative;
	z-index: auto;

}
.rowDiv{
	z-index: 1;
	position: absolute;
	top: 108vh;
	left: 7vw;
	font-family: 'Karla', sans-serif;

}
.darkHead{
	background-color: #333232;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;

}
.lightBody{
	background-color: #A9A9A9;
	color: white;
	height: 29vh;
	font-size: 19px;
	text-indent: 1vw;
	padding-top: 1vh;
	text-align: center;
}
.Footer{
	margin-top: 20vh;
	background-color:  #333232;
	color: white;
}
.smallFooter{
	background-color:#bb3d3d ;
	height: 3vh;
}
.listOfFooter{
	margin-top: 3vh;
	list-style: none;
	margin-bottom: 5vh;
}
.linkFooter{
	margin-left: -2vw;
}
.footerIcon{
	height: 8vh;
	padding-right: 2vw;
}
.footerLogo{
	height: 25vh;
	margin-top: 1vh;
}
.copyRight{

	background-color: #424141;
	text-align: center;
}


