nav{
	background-color: white !important;
	border: none !important;
	font-family: 'Karla', sans-serif;
	margin-bottom: 14vh !important;
}
a{
	color: white !important;
}
a:hover{
	color: black !important;
	text-decoration: none;
} 
button{
	outline: none;
}
.topLogo{
	margin-top: -3vh;
	height: 25vh;
}
.topBox{
	background-color:#4f4f4f;
	height:5vh;
	width:98.7vw;
}
.content-nav{
	background-color: #bb3d3d !important;
	color: white;
	width: 54vw;
	margin-right: 17.3vw;
	margin-top: -7.7vh;
	padding-left: 2vw;
	
}
.recImg{
	margin-top:-8.7vh;
	height: 11vh;
	float: right;
	margin-right: -1.9vw;
}
.content-nav > li{
	padding-right: 1.8vw !important;
	font-size: 13px;
}

.nav-hr{
	height: 5vh; 
	width: 0.09vw;
	background-color: white; 
	margin-top: 1.5vh;
}
.homeIconImg{
	height: 5vh;
	margin-top: -1vh;
}
.linkActive > a{
	color: black !important;
	margin-top: 1.5vh;
	padding-top: 1vh !important;
	padding-bottom: 1vh !important;
	background-color: white !important;
	padding-left: 3vw !important;
	padding-right: 3vw !important;
}


.abtDiv{
	margin-top: 18vh;
	background-color: #bb3d3d;
	width: 25vw;
	color: white;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	padding-left:  8vw;
	padding-right: 8vw;
}
.centerImg{
	background-color: #333232;
	width: 98vw;
	height: 64vh;


}
.abtImg{
	width: 98vw;
	height: 62vh;

}
.backrowDiv{
	display: none;
}
.rowDiv{
	font-family: 'Karla', sans-serif;
	margin-top: 10vh;

}
.darkHead{
	background-color: #333232;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	width: 35vw;

}
.lightBody{
	background-color: #A9A9A9;
	color: white;
	height: 38vh;
	font-size: 18px;
	padding-top: 1vh;
	padding-left: 1vh;
	padding-right: 1vh;
	width: 95.5vw;
}
.lightBody2{
	background-color: #A9A9A9;
	color: white;
	height: 20vh;
	font-size: 18px;
	padding-left: 1vh;
	padding-top: 1vh;
	padding-right: 1vh;
	width: 95.5vw;
}
.biggerFont{
	font-size: 18px;
}
.row1{
	margin-bottom: 20vh;
}
.Footer{
	margin-top: 13vh;
	background-color:  #333232;
	color: white;
}
.smallFooter{
	background-color:#bb3d3d ;
	height: 3vh;
}
.listOfFooter{
	margin-top: 3vh;
	list-style: none;
	margin-bottom: 2vh;
	font-size: 13px;
}
.footerIcon{
	height: 5vh;
	padding-right: 1vw;
}
.IconDiv{
	padding-left: 8vw;
	padding-top: 1.5vh;
}
.copyRight{
	background-color: #424141;
	text-align: center;
	font-size: 11px;
}
